@charset "utf-8";
/* CSS Document */
body, html {
	width: 100%;
	height: 100%;
}
body,td,th,p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fcfcfc;
	margin: 0;
	position:relative;
}
ul, li {
	font-size: 12pt;
	color: #333;
}
a {
	color: #A36A00;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
h2 {
	text-align: center;
	font-weight: 200;
	font-size: 18px;
	letter-spacing: 1px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
	max-width: 100%;
}
#maincontent {
  background-color: #fcfcfc;
  min-height: 100%;
	margin-top: 53px;
}
#footer {
  background-color: #303030;
  color: #BDBDBD;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer strong {
	color: #DC831E;
}
.off-screen {
	position: absolute;
	left: -10000px;
}
@media screen and (min-width: 600px) {
	#maincontent {
    margin-top: 59px;
	}
}

@media screen and (min-width: 800px) {
	#maincontent {
    margin-top: 63px;
	}
}
/* ====================== Navigation ====================== */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	background-color: #252831;
}
header h1 {
	margin-bottom: 5px;
  width: 100%;
  text-align: center;
	padding: 0;
}
header h1 a {
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
}
nav {
  background-color: #eee;
}
#breadcrumb {
  padding: 10px 20px;
  list-style: none;
  font-size: 17px;
  margin: 0;
	max-width: 1000px;
	margin: 0 auto;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #024C8D;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
@media screen and (min-width: 600px) {
	header h1 {
		padding: 3px;
	}
	header h1 a {
		font-size: 25px;
	}
}
@media screen and (min-width: 800px) {
	header h1 {
		padding: 5px;
	}
	header h1 a {
		font-size: 28px;
	}
	#breadcrumb li {
	    font-size: 19px;
	}
}
/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}

#map-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#map-container h2 {
	margin: 10px 0;
}

.map-skip-link {
	position: absolute;
	z-index: 10000;
	background-color: #A36A00;
	outline: 0;
	-webkit-box-shadow: 0px 0px 7px 5px rgba(255,255,255,0.89);
	-moz-box-shadow: 0px 0px 7px 5px rgba(255,255,255,0.89);
	box-shadow: 0px 0px 7px 5px rgba(255,255,255,0.89);
	color: white;
	padding: 10px;
	top: -10000px;
  left: -10000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
.map-skip-link:active,
.map-skip-link:focus {
    left: 0;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
		text-decoration: underline;
		color: white;
}
/* ====================== Restaurant Listing Section ====================== */
.restaurants-list-section {
	margin-top: 20px;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  align-items: center;
	text-align: center;
	padding: 15px 0;
}
.filter-options fieldset {
	width: auto;
  border: 1px solid lightgray;
  margin: 10px;
}
.filter-options select {
	background-color: white;
	font-size: 11pt;
	letter-spacing: 0;
	padding: 5px;
	width: 70%;
	min-height: 48px;
	height: 40px;
	border: 1px solid lightgray;
	margin: 16px auto;
}

@media screen and (min-width: 500px) {
	.filter-options {
		max-width: 500px;
		margin: 0 auto;
	}
	.filter-options select {
		width: calc(50% - 50px);
		margin: 0 16px;
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #fcfcfc;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  text-align: center;
}
#restaurants-list li {
	background-color: #fff;
	border: 1px solid #ccc;
	min-height: 380px;
	padding: 0;
	margin: 10px auto;
	text-align: left;
	max-width: 500px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
	border-bottom-right-radius: 0;
}
#restaurants-list li h1 {
  color: #AD5C00;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list li span {
  margin: 0 10px 20px 10px;
	display: inline-block;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #A36A00;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus,
#restaurants-list li a:active {
  background-color: #2e323a;
  text-decoration: underline;
	outline: 0;
	-webkit-box-shadow: 0px 0px 7px 5px rgba(163,106,0,0.89);
	-moz-box-shadow: 0px 0px 7px 5px rgba(163,106,0,0.89);
	box-shadow: 0px 0px 7px 5px rgba(163,106,0,0.89);
}

@media screen and (min-width: 750px) {
	#restaurants-list {
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#restaurants-list li {
		width: calc(50% - 22px);
		margin: 10px;
	}
}

/* ====================== Restaurant Details ====================== */
/***** Navigation *****/
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
}

/***** Main *****/
.inside #maincontent {
	margin-top: 101px;
}
#restaurant-name {
  color: #C7781B;
	font-weight: 400;
	font-size: 20px;
  letter-spacing: 1px;
  margin: 15px 5px;
  text-transform: uppercase;
  line-height: 1.1;
	text-align: center;
	display: inline-block;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.inside #maincontent {
    margin-top: 102px;
	}
	#restaurant-name {
		font-size: 23px;
	}
}

@media screen and (min-width: 800px) {
	.inside #maincontent {
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
    margin-top: 110px;
	}
	#restaurant-name {
		width: 100%;
		order: -3;
		margin-top: 30px;
		font-size: 26px;
	}
}

/***** containers *****/
#restaurant-container, #reviews-container, #opening-hours-container {
	width: 90%;
	margin: 20px auto;
}
@media screen and (min-width: 800px) {
	#reviews-container {
		width: 100%;
	}
}

/***** Restaurant image, cuisine, address *****/
#restaurant-container h1 {
	font-size: 20px;
}
.restaurant-img-container {
	display: block;
	margin: 10px 0;
	position: relative;
}
.restaurant-img {
	width: 100%;
	display: block;
	border-top-left-radius: 15px;
}
.restaurant-img, #restaurant-cuisine {
	border-bottom-right-radius: 15px;
}
#restaurant-cuisine {
	background-color: rgba(45, 43, 43,0.9);
	color: #ddd;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 8px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 1px 0px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
	padding: 0px 10px;
}

@media screen and (min-width: 450px) {
	#restaurant-cuisine {
		padding: 3px 0;
	}
}
@media screen and (min-width: 600px) {
	#restaurant-address {
	  font-size: 14pt;
	}
	#restaurant-cuisine {
		padding: 5px 0;
	}
}
@media screen and (min-width: 800px) {
	#restaurant-cuisine {
		padding: 8px 0;
		font-size: 12pt;
	}
}

@media screen and (min-width: 800px) {
	#restaurant-container {
		order: -1;
		width: 100%;
		margin-top: 0;
	}
	#restaurant-address {
		padding: 0;
	  font-size: 16pt;
	}
}

/***** map *****/
@media screen and (min-width: 800px) {
	.inside #map-container {
		width: calc(50% - 20px);
	}
}

/***** opening hours *****/
#reviews-container h2, #opening-hours-container caption {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 10px 0;
}
#opening-hours-container caption {
	color: #A66317;
}
#restaurant-hours {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid lightgray;
}
#restaurant-hours td {
  color: #666;
	border-bottom: 1px solid lightgray;
	font-size: 16px;
	text-align: center;
	padding: 5px 0;
}
#restaurant-hours td:nth-child(1) {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
	#reviews-container h2, #opening-hours-container caption {
	  font-size: 22px;
	}
}

@media screen and (min-width: 800px) {
	#opening-hours-container {
		width: calc(50% - 20px);
		margin-top: 0;
	}
	#reviews-container h2, #opening-hours-container caption {
	  font-size: 24px;
	}
}

/***** reviews list *****/
#reviews-container {
	background-color: #f2f2f2;
	padding: 10px 0;
	margin-top: 10px;
}
#reviews-container h2 {
	color: #995B15;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
.review {
	background-color: #fff;
	border: 2px solid #fcfcfc;
	display: block;
	list-style-type: none;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	width: 90%;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.review p {
  margin: 0 0 10px;
}
.review-header {
	background-color: #333333;
	color: white !important;
	display: block;
	padding: 10px 15px;
}
.review-content {
	display: block;
	padding: 10px 20px;
}
.review-name {
	color: white !important;
	display: inline;
	font-weight: 400;
	letter-spacing: 1px;
}
.review-date {
	color: white !important;
	float: right;
	font-size: 11pt;
	font-weight: 200;
}
.review-rating {
	background-color: #AB6617;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	padding: 3px 10px;
	border-radius: 2px;
	letter-spacing: 1px;
	font-size: 11pt;
}
@media screen and (min-width: 600px) {
	.review-content {
		padding: 20px 40px;
	}
}
@media screen and (min-width: 800px) {
	.review {
		width: 85%;
	}
	.review p {
	  font-size: 13pt;
		word-spacing: 3px;
	}
	.review-content {
		padding: 25px 60px;
	}
}
@media screen and (min-width: 900px) {
	.review {
		width: 80%;
	}
}

/***** leaflet *****/
.leaflet-container a {
    color: #005475 !important;
}
